@font-face {
  font-family: "GP";
  font-weight: 200;
  font-style: normal;
  src: url("GerstnerProgramm-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GP";
  font-weight: 200;
  font-style: italic;
  src: url("GerstnerProgramm-LightItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GP";
  font-weight: 400;
  font-style: normal;
  src: url("GerstnerProgramm-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GP";
  font-weight: 400;
  font-style: italic;
  src: url("GerstnerProgramm-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GP";
  font-weight: bold;
  font-style: normal;
  src: url("GerstnerProgramm-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GP";
  font-weight: bold;
  font-style: italic;
  src: url("GerstnerProgramm-BoldItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Earth";
  src: url("EarthSymbols-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
