.box {
  border-radius: 1em;
  /* @apply rounded-full; */
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  will-change: box-shadow;
  /* transition: box-shadow 5s linear; */
  transition: all 0.25s !important;
}

.box:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.box:hover button {
  color: #ccc;
  background-color: #ffffff;
  @apply rounded-md;
}
/* Accordion box,button, and link overrides */
.accordion a{
  border-bottom:2px solid;
}


.accordion a.box{
  border:none;
}
.accordion button a{
  border:none;
}

.accordion.box:hover button{
  border-radius:15px;
  color:inherit;
}
.accordion button .big-text{
  position:relative;
  top:1px;
}
.accordion button{
  padding:5px 8px;
  padding-top:2px;
  color:black;
  align-items:baseline;
  font-size:inherit !important;
  line-height: 1 !important;
}
.accordion button.box-link:before{
  left:-4px;
  top:46%;
}
.accordion button a{
  color:inherit;
}
.accordion .box-circle .bg-black h2{
  color:white;
}
/* end accordion overrides */
.box-menu{
  border-radius:15px;
   background: #ffffff;
   will-change: box-shadow;
   transition: all 0.25s !important;
   box-shadow:6px 5px 20px rgba(158, 158, 158, 0.4), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box-menu:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.box-circle {
  width: 40%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.box-circle .square {
  /* backdrop-filter: blur(10px); */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer;

  /* transition: 0.5s all; */
}

.box-circle .background-circle {
  padding-bottom: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
  border-radius: 9999px;
  transition: 0.25s box-shadow;
  transition-property: box-shadow, background-color;
}

.box-circle .background-circle.bg-black {
  animation: none !important;
}

.box-circle:hover .background-circle {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
  /* backdrop-filter: blur(10px); */
}

.box-link {
  @apply inline-block;
  @apply uppercase;
  @apply text-sm;
  @apply relative;
  @apply py-1 px-2;
  z-index: 1;
  box-shadow: none;
  outline: none !important;
}

.box.box-black {
  @apply bg-black;
  color: #ffffff;
}

.box-link img {
  width: auto;
  @apply block;
  height: 0.5em;
  @apply relative;
}

.box-link:before {
  content: "";
  z-index: -1;
  @apply absolute py-1/4em w-full bg-white rounded-full h-full left-0 block top-1/2 transform -translate-y-1/2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  will-change: box-shadow;
  transition: 1s box-shadow;
}
.box.accordion .square a{
  border:none;
}
.box.accordion button[aria-expanded="true"] {
  color: #000000 !important;
}
@media(max-width:768px){

  .accordion a{
    display: inline-block;
  border-bottom:1px solid;
}

  .box-link{
    padding:0.0rem 0.5rem;
    padding-bottom:0.15rem;
    top: 3px;
  }
}

@screen md {
  .box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .box-link img {
    height: 0.675em;
  }
  .box-link {
    @apply py-2 px-1/4em;
  }
  .box-circle .background-circle {
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.6);
  }
  .box-circle * {
    @apply text-nav;
  }
  .box-link:before {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  }
  .box-link:hover:before {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }
  .box-link img {
    height: 0.675em;
  }
}
