.grid-row {
  @apply relative;
  @apply w-full;
}

.grid-row:before,
.grid-marker:before {
  @apply text-mobileNav;
}

.grid-row:before {
  font-size:1rem;
  /* content: "H"; */
  @apply absolute;
  @apply left-0;
  /* @apply pl-mobile; */
  @apply top-1/2;
  @apply transform;
  @apply -translate-y-1/2 rotate-180;
  margin-left: -0.05rem;
}

.grid-row:after {
  /* content: "H"; */
  @apply absolute;
  left: 63.24%;
  @apply top-1/2;
  @apply transform;

  @apply -translate-y-1/2;
}

.grid-marker {
  @apply block;
  @apply absolute;
  @apply pointer-events-none;
/*  @apply top-1/2;*/
  top:45%;
  @apply transform;
  /* @apply z-30; */
  @apply -translate-y-1/2;
  font-size: 1em !important;
  line-height: 0 !important;
  /* left: 34%; */
  z-index: -1;
}
.grid-marker-1 {
  @apply left-0;
  top: 55.5%;
}
.grid-marker-2 {
  left: 64%;
}
.grid-marker-3 {
  left: 34%;
}

.grid-marker:before {
  /*content: "H";*/
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.58 33.4' height='10' width='10'><g id='Layer_2' data-name='Layer 2'><g id='Layer_1-2' data-name='Layer 1'><line stroke='black' stroke-width='4' class='cls-1' x1='21.08' y1='0.01' x2='20.96' y2='33.39'/><line stroke='black' stroke-width='4' class='cls-1' y1='16.61' x2='21.08' y2='16.61'/></g></g></svg>");
  height: 11px;
  width: 9.5px;
  font-weight:bold;
  font-family:inherit;
}


.grid-marker-1:before {
  @apply transform;
  @apply -translate-y-1/2 rotate-180;
  @apply block;
  @apply mt-5;
}

@screen md {

  .grid-marker {
    /* @apply -mt-1; */
    top:50%;
  }
  .grid-marker-1{
    top:50%;
  }

.grid-marker:before {
  /*content: "H";*/
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.58 33.4' height='11' width='11'><g id='Layer_2' data-name='Layer 2'><g id='Layer_1-2' data-name='Layer 1'><line stroke='black' stroke-width='4' class='cls-1' x1='21.08' y1='0.01' x2='20.96' y2='33.39'/><line stroke='black' stroke-width='4' class='cls-1' y1='16.61' x2='21.08' y2='16.61'/></g></g></svg>");
  height: 11px;
  width: 10.5px;
  font-weight:bold;
  font-family:inherit;
}

.grid-marker-2 {
  left: 63.24%;
}
  .grid-marker-1:before {
    top: 0.05em;
    @apply relative;
  }

  .grid-row,
  .grid-row:before,
  .grid-marker:before {
    @apply text-base;
  }
}

.l-3 {
  @apply text-right;
}
