@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./box.css";
@import "./nav.css";
@import "./grid.css";
@import "./rte.css";

html {
  font-family: "GP", Arial, Helvetica, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body,
body > div:first-child,
body > div > div {
  height: 100%;
  color: #000000;
}

small {
  font-size: 100% !important;
}

.earth {
  font-family: "Earth";
}

[aria-haspopup="dialog"] + section {
  /* z-index: 999 !important; */
  /* position: fixed; */
}
