@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./box.css";
@import "./nav.css";
@import "./grid.css";
@import "./rte.css";
@import "./accordion.css";
@import "./checkout.css";
@import "./rd.css";
@import "./mapmodule.css";
@import "./flexgallery.css";
@import "./pane.css";

html {
  font-family: "FolioBT", Arial, Helvetica, sans-serif;
}
input, footer{
  font-family:"NeueHaasGrotesk", Arial, Helvetica, sans-serif;
}
h6{
  opacity: 0.5;
}

figure img{
  object-fit: contain !important;
}

.popupgrid{
  margin-bottom: 0.4em;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-feature-settings: "kern" 1, "dlig" 1;
  -webkit-font-feature-settings: "kern" 1, "dlig" 1;
  -moz-font-feature-settings: "kern" 1, "dlig" 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
.overflow-x-scroll::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body,
.overflow-x-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body,
body > div:first-child,
body > div > div {
  height: 100%;
  color: #000000;
}

table,
td,
th {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

small {
  font-size: 100% !important;
}


/*loading animation*/
.load-animation{
  animation:loading;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  transform-origin: top center;
}
  
@keyframes loading {
  from { opacity: 1;  transform: scale(1); }
  to { opacity: 0; transform: scale(1); }
}
/* end loading animation */

.instagram-logo{
  width:20px;
  top:0px;
  right:-3px;
}

.text-desktopCaptionSpecial *{
  font-size:1rem;
  line-height: 1.2;
}
.rte .md\:text-desktopCaption *{
  font-size:inherit;
  line-height:inherit;
}

@keyframes scaleDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-scale-down {
  animation: 1s scaleDown 1s forwards;
}

.animate-scale-down svg {
  margin-left: 1px;
}

.earth {
  font-family: "Earth", "FolioBT", Arial, Helvetica, sans-serif;
}

.no-shadow {
  box-shadow: none !important; /* weird bug with popover modules */
}

.circle-width{
  width: 30vw;
  font-family: "NeueHaasGrotesk";
}
.circle-width h2, .rte.rte-large .circle-width h2{
  max-width: 190px;
/*  font-size:3vw;*/
}
@media(min-width: 768px){
  .circle-width{
    width: 17vw;
  }
  .circle-width h2, .rte.rte-large .circle-width h2{

  }
}
@media(min-width: 1024px){
  .circle-width{
    width: 13vw;
  }
  .circle-width h2, .rte.rte-large .circle-width h2{


  }

}

/*NEWSLETTER POPUP*/
.calendly-contact{
  margin-top: -0.75em;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes appearFromZero {
  0% {
   opacity: 0;
   visibility: hidden;
  }
  100% {
   opacity: 1;
   visibility: visible;
  }
}
.newsletter-popup-inner{
  z-index: 9999;
}
.newsletter-popup{
  opacity: 0;
  top: calc(50% - 10rem);
  left:calc(50% - 14rem);
  visibility: hidden;
  animation: 1s ease-out 20s 1 appearFromZero;
  z-index: 9999999999;
  animation-fill-mode: forwards;
  box-shadow: 0px 1px 11px rgb(0 0 0 / 60%);
}
.newsletter-popup-overlay{
  display: block;
  content:" ";
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height:100vh;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  animation: 1s ease-out 20s 1 forwards appearFromZero;
}
.newsletter-close{
  outline: none;
  width: 32px;
  height: 32px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: absolute;
  top: 8px;
  right: 12px;
}
.newsletter-popup button[type="submit"]{
  line-height:0.2em !important;
}
.newsletter-close svg{
  width: 12px;
    height: 12px;
    color: currentColor;
    display: inline-block;
    vertical-align: middle;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*END NEWSLETTER POPUP*/

@media(max-width: 767px){
  .newsletter-popup{
    opacity: 1;
    visibility: hidden;
    left:0;
    top:auto;
    bottom:0;
    animation: 1s ease-out 5s 1 forwards slideInFromBottom;
  }
  .newsletter-popup-overlay{
  display: none;
}
  input:not(.e-checkout), textarea, select,form button, button[type="submit"]{
    height:3em;
  }
  #page-content-wrapper .earth-svg{
    /* top: -1px;
    position: relative; */
  }
}
@media only screen and (max-width: 767px) {
  .gallery-image {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media(min-width: 768px){
  .circle-width{
    width: 17vw;
  }
  .circle-width h2, .rte.rte-large .circle-width h2{
    /*font-size:1.9vw;*/
  }
}
@media(min-width: 1024px){
  .circle-width{
    width: 12vw;
  }
  .circle-width h2, .rte.rte-large .circle-width h2{
/*    font-size:1.1vw;*/
  }
}

.intercom-lightweight-app-launcher{
  right: 1.75rem !important;
}

#page-content-wrapper{
  overflow-x: hidden;
}