@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./box.css";
@import "./nav.css";
@import "./grid.css";
@import "./rte.css";
@import "./accordion.css";
@import "./checkout.css";
@import "./rd.css";
@import "./mapmodule.css";
@import "./flexgallery.css";
@import "./pane.css";

html {
  font-family: "GP", Arial, Helvetica, sans-serif;
}

h6{
  opacity: 0.5;
}

figure img{
  object-fit: contain !important;
}

.popupgrid{
  margin-bottom: 0.4em;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-feature-settings: "kern" 1, "dlig" 1;
  -webkit-font-feature-settings: "kern" 1, "dlig" 1;
  -moz-font-feature-settings: "kern" 1, "dlig" 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
.overflow-x-scroll::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body,
.overflow-x-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body,
body > div:first-child,
body > div > div {
  height: 100%;
  color: #000000;
}

table,
td,
th {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

small {
  font-size: 100% !important;
}


/*loading animation*/
.load-animation{
  animation:loading;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  transform-origin: top center;
}

@keyframes loading {
  from { opacity: 1;  transform: scale(1); }
  to { opacity: 0; transform: scale(1); }
}
/* end loading animation */

.instagram-logo{
  width:20px;
  top:0px;
  right:-3px;
}

.rte .md\:text-desktopCaption{
  font-size:10px !important;
}
.text-desktopCaptionSpecial *{
  font-size:1rem;
  line-height: 1.2;
}
.rte .md\:text-desktopCaption *{
  font-size:inherit;
  line-height:inherit;
}

@keyframes scaleDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-scale-down {
  animation: 1s scaleDown 1s forwards;
}

.animate-scale-down svg {
  margin-left: 1px;
}

.earth {
  font-family: "Earth", "GP", Arial, Helvetica, sans-serif;
}

.no-shadow {
  box-shadow: none !important; /* weird bug with popover modules */
}

.circle-width{
  width: 30vw;
}
.circle-width h2, .rte.rte-large .circle-width h2{
  max-width: 190px;
  font-size:3vw;
}
@media(max-width: 767px){
  #page-content-wrapper .earth-svg{
    top: -1px;
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  .gallery-image {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media(min-width: 768px){
  .circle-width{
    width: 17vw;
  }
  .circle-width h2, .rte.rte-large .circle-width h2{
    font-size:1.9vw;
  }
}
@media(min-width: 1024px){
  .circle-width{
    width: 12vw;
  }
  .circle-width h2, .rte.rte-large .circle-width h2{
    font-size:1.1vw;
  }
}

