/* R & D*/

@media(max-width:767px){
  .r-d-menu{
    background: white;
    height:33px;
  }
}

.r-d-nav-text-desktop{
  font-family: 'Everett', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: #000000;
}

.r-d-nav-text-mobile{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: #000000;
}

.r-d-tagline{
  max-width: 100%;
}

.r-d-tagline-mobile{
  max-width: 300px;
}

.lightbox-pdf{
  position: fixed;
  top:0;
  left:0;
  z-index: 900;
  background: white;
  width: 100vw;
  height:100vh;
  overflow-y: scroll;
  
}
.lightbox-pdf canvas{
  display: block;
  margin:0 auto;
}

.react-pdf__Page{
  max-height: calc(100vh - 60px);
}
.lightbox-pdf .left-arrow{
  position: absolute;
  left:30px;
  top:50%;
}
.lightbox-pdf .pdf-close svg {
  width:50px;
  height:50px;

}
.lightbox-pdf .pdf-close svg line{
  stroke:black;
  stroke-width:3px;
}
.lightbox-pdf .pdf-close{
  top:70px;
  right:190px;
}

.lightbox-pdf .right-arrow{
  position: absolute;
  right:30px;
  top:50%;
}

.rte.rte-large .article-accordion{
  border:none;
  font-family: Everett;
  margin-top: -1.1rem;
}
.rte.rte-large .article-accordion button{
   padding-left:0;
   display:inline-block;
   width:100%;
}
.rte.rte-large .article-accordion button:hover{
  color: #ccc;
  background:inherit;
}
.rte.rte-large .article-accordion *{
  font-size:inherit;
  line-height: inherit;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}
.rte.rte-large .article-accordion .article-box{
  padding-right: 10rem;
  margin-right: -10rem;
}
.rte.rte-large .article-accordion .article-pagebreak{
  border-bottom-color: black;
  border-bottom-width: 1px;
}
.rte.rte-large .article-accordion .article-titlebox{
  margin-bottom: -1.7rem;
}
.rte.rte-large .article-accordion .article-title{
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;

  max-width: 372px;
}
.rte.rte-large .article-accordion .article-title:hover{
color:grey;
}
.rte .article-accordion .flag-box{
  display:inline-flex;
}
.rte .article-accordion .flag{
  font-size: .625rem;
  line-height: 110%;
  letter-spacing: 0.03em;
  
  white-space: nowrap;
  margin-top: -0.45rem;
  margin-bottom: 0.1rem;
}
.rte .article-accordion .flag-bg{
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0.03em;
  

  display:inline-flex;
  white-space: nowrap;
  margin-top: 0.45rem;
}
.rte .article-accordion .article-tag{
  font-size: 10px;
  line-height: 110%;
  letter-spacing: 0.03em;
  @apply uppercase;
  display: flex;

  width: 40%;
}

.gallery-image iframe, .internal-iframe iframe{
  max-width:100%;
}


.standard-text p a{
  border-bottom:2px solid;
}
.standard-text h1 > a {
  border-bottom:5px solid;
}


@media(max-width:767px){


  .react-pdf__Page,.react-pdf__Page canvas{
    max-width: calc(100vw);
  }
  .mt-special-nav{
        margin-top: 27px !important;

  }

  .standard-text h1 > a {
    border-bottom:2px solid;
  }
  .lightbox-pdf canvas{
    transform-origin:center center;
    transform:scale(0.7);
  }
  .lightbox-pdf .pdf-close {
    right:50px;
  }
  .lightbox-pdf .pdf-close svg{
    width:15px;
    height:15px;
  }
   .lightbox-pdf .pdf-close svg line{
    stroke-width:10px;
   }
}
@media(min-width:768px){
  .px-special{
    padding:0 85px;
  }
}


.rte .html-text{
  font-size:18px;
  line-height: 1;
}
/* info section R & D */
.info-rd-content{
  font-family: Everett;
}
.info-rd a{
  margin-bottom: 1.5rem;
  text-decoration: underline;
}
.rnd-mailchimp input, .rnd-mailchimp button{
  font-size: .875rem !important;
  padding: 1.5em 0.5em !important;
  display: flex !important;
}
.rnd-mailchimp form button,.rnd-mailchimp button[type="submit"]{
  display:flex;
}
.rnd-mailchimp form p{
  display:none;
  padding: 1.5em 0.5em !important;
}
img{
  max-width: 500px;
}
.info-section{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  animation:slide;
  animation-iteration-count: 1;
  animation-duration:0.2s;
}
@keyframes slide {
  from { transform: translateY(-500px); }
  to { transform: translateY(0); }
}
/* end R & D*/