.rte {
  @apply text-base;
}

.rte p,
.rte ul,
.rte ol {
  @apply max-w-4xl;
}

.rte ul li > ul,
.rte ol li > ol {
  @apply pt-1em;
}

.rte.rte-large * {
  @apply text-base;
  @apply max-w-none;
}

.rte h1 {
  @apply uppercase;
}

.rte p:not(:last-child) {
  @apply mb-1em;
}

.rte a {
  /* @apply font-bold; */
  /* border-bottom: 1.5px solid; */
  will-change: color;
  font-size: 0.875em;
  @apply uppercase;
  transition: 0.125s color;
}

.rte a:hover {
  color: #ccc;
}

.rte ol {
  @apply list-none;
  counter-reset: rte-list;
}

.rte h1,
.rte h2 {
  @apply mb-1em;
}

.rte h2 {
  @apply uppercase;
}

.rte ol li {
  counter-increment: rte-list;
  @apply pl-3em;
  @apply relative;
  @apply mb-1em;
}

.rte ol li:before {
  content: counter(rte-list) "";
  @apply absolute;
  @apply left-0;
}

.rte ul li {
  /* counter-increment: rte-list; */
  @apply pl-3em;
  @apply relative;
  @apply mb-1em;
}

.rte ul li:before {
  content: "–";
  @apply absolute;
  @apply left-0;
}

input,
textarea,
select {
  background: #ffffff;
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.3), -5px -5px 11px rgba(255, 255, 255, 0);
  will-change: box-shadow;
  transition: box-shadow 5s linear;
  min-height: 3em;
  @apply text-base !important;
  fontsmoothing: "antialiased";
  text-overflow: ellipse;
  overflow: hidden;
  display: block;
}

.FormGroup {
  min-height: 3em;
  @apply rounded-md;
}

.FormGroup .FormRow {
  @apply py-1/2em;
}

form button,
button[type="submit"] {
  color: #ffffff !important;
  @apply text-nav;
  @apply uppercase;
  @apply w-full;
  @apply block;
  min-height: 3em;
  font-weight: normal !important;
}

form label {
  @apply text-nav;
  @apply uppercase;
  /* color: rgba(0, 0, 0, 0.3); */
}

@screen md {
  .rte.rte-large * {
    @apply text-baseLg;
  }
  .rte * {
    @apply text-baseRte;
  }
  input,
  textarea,
  select {
    @apply text-baseRte !important;
  }
}
