.rte {
  @apply text-mobileBody;
}

.rte p {
  /* @apply max-w-4xl; */
  /* @apply pb-1em; */
}

.rte ul,
.rte ol {
  /*  @apply max-w-6xl;*/
  /*padding-bottom: 1rem;*/
}

.rte ul li > ul,
.rte ol li > ol {
  /* @apply pl-1/10; */
  @apply pt-1em;
  @apply pb-2em;
}

.rte ul li,
.rte ol li {
  padding-bottom: 1rem;
}
.partner-ref-link {
  margin-bottom: 0 !important;
  border-bottom: 2px solid;
  padding-right: 0.0625rem;
  line-height: 115% !important;
  top: -1px;
  /* font-size: inherit; */
  transform: translateY(0em);
  cursor: pointer;
}
.rte.rte-large {
  @apply text-mobileLarge;
}

.rte h1 {
  @apply text-mobileLarge;
}

.rte p:not(:last-child) {
  @apply mb-1em;
}

.rte a {
  will-change: color;
  /* font-size: 0.85em; */
  /* @apply uppercase; */
  transition: 0.125s color;
}

.rte a:not(.table-link):hover {
  color: #ccc;
}

.rte ol {
  @apply list-none;
  counter-reset: rte-list;
}

.rte h1,
.rte h2 {
  @apply mb-1em;
  margin-top: -0.01em;
}

.rte h2 {
  @apply uppercase;
}

.rte ol li {
  counter-increment: rte-list;
  @apply pl-1/10 relative;
}

.rte ol li:before {
  content: counter(rte-list) "";
  @apply absolute left-0;
  font-variant-numeric: tabular-nums;
}

.rte ul li {
  /* counter-increment: rte-list; */
  @apply pl-1/10 relative;
  padding-bottom: 1rem;
}

.rte ul:not(.table, .column-header) li:before {
  content: "–";
  @apply absolute left-0;
}

.rte blockquote,
.rte.rte-large blockquote {
  @apply pl-1/10 pb-1em text-mobileBody pt-1/2em;
}

input:not(.e-checkout, .newsletter),
textarea,
select {
  background: #ffffff;
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.3), -5px -5px 11px rgba(255, 255, 255, 0);
  will-change: box-shadow;
  transition: box-shadow 5s linear;
  font-smoothing: "antialiased";
  @apply py-1/2em text-mobileBody h-2em truncate block p-0 m-0 pt-1em rounded-lg;
  line-height: 2.25em !important;
}

.e-checkout {
  background: #ffffff;
  font-smoothing: "antialiased";
  margin: 0 !important;
  line-height: 2.25em !important;
  cursor: pointer;
  text-transform: uppercase;
}

.rte [disabled] {
  filter: grayscale(1);
  background-color: #ccc !important;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5) !important;
  pointer-events: none !important;
  cursor: auto !important;
}

.e-checkbox {
  position: relative;
  margin-right: 3px;
}

.e-checkbox-icon {
  position: absolute;
  left: 0;
  top: 0;
  /*  pointer-events: none;*/
}

input[type="checkbox"],
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-appearance: none;
  left: 12px;
  width: 1rem !important;
  height: 1rem !important;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  top: 0.05em;
  padding: 0.3em;
  position: relative;
  margin-right: 0.3em;
  margin-left: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}
.e-checkbox-icon {
  font-size: 0.05em;
}
input[type="checkbox"]:checked {
  background: black;
  /* background-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.31 15.13"><defs></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polyline style="fill:none;stroke:black;stroke-width:2;" class="cls-1" points="0.5 6.92 6.92 14.63 18.81 0.5"/></g></g></svg>');
  background-size:90%;
  background-position:center center;
  background-repeat:no-repeat;*/
}
@media (max-width: 767px) {
  input[type="checkbox"]:checked:before {
    top: 1px;
  }
  .rte {
    line-height: 115%;
  }
  input[type="checkbox"],
  input[type="checkbox"]:focus,
  input[type="checkbox"]:active {
    -webkit-appearance: none;
    width: 16px !important;
    height: 16px !important;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    top: 0.2em;
    left: 0.3em;
    padding: 0.3em;
    position: relative;
    margin-right: 0.3em;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }
}

input:focus {
  border-color: #000000 !important;
  box-shadow: none !important;
}

.FormGroup .FormRow {
  @apply py-1/2em;
}

.rte form {
}

form button,
button[type="submit"] {
  color: #ffffff !important;
  line-height: 2.25em !important;
  @apply w-full h-2em font-normal block uppercase text-mobileBody;
}

/* form label,
form label * {
  @apply text-mobileCaption tracking-wide uppercase;
  margin-top: 0.05em;
  font-smoothing: none;
} */
form label {
  @apply pl-1em ml-1/10;
}

input::-webkit-input-placeholder,
input::placeholder {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4) !important;
}

@screen md {
  /* .partner-ref-link{
     padding: 0 0.25em;
    padding-right: 0.35em;
    margin-bottom:0 !important;
    padding-bottom: 0.1em;
    transform: translateY(0%);
} */
  .rte {
    @apply text-mobileBody;
  }

  .rte.rte-large {
    @apply text-desktopLarge max-w-none;
  }

  .rte h1,
  .rte h1 * {
    @apply text-desktopLarge mb-1/2em;
  }

  .rte form {
    @apply max-w-4xl w-full;
  }

  form button,
  button[type="submit"] {
    @apply text-mobileBody;
    line-height: 2.25em !important;
  }

  .rte blockquote,
  .rte.rte-large blockquote {
    @apply text-desktopBody;
  }

  input,
  textarea,
  select {
    @apply text-desktopBody w-auto h-2em !important;
    line-height: 2.5em !important;
  }

  .rte-large ol li,
  .rte-large ul li {
    @apply text-desktopBody;
  }
}
@media (min-width: 767px) {
  .rte ol li,
  .rte ul li {
    padding-left: 5vw;
  }
}
@screen lg {
  /* .partner-ref-link.box-link:before{
      padding:0;
      transform: translateY(-0.7em);
      height: 1.35em;
    }
    .partner-ref-link{
       padding: 0 0.25em;
    padding-right: 0.35em;
    margin-bottom:0 !important;
    padding-bottom: 0.1em;
    transform: translateY(0%);
 } */
  /*.rte h1,
  .rte h1 * {
    font-size:4.5vw;
    line-height:6vw;
    letter-spacing: -0.01em;
  }*/
  .rte {
    @apply text-desktopBody;
  }
}
